@import '../base/mixins';
@import '../base/variables';


.footer {
  width: 100%;
  margin: 0;
  border: 1px solid $footer-border-color;
  margin-top: $footer-margin-top;
  font-family: $font-family;
  

  > .container-fluid {
    > .row {
      > div {
        @include flex-center;
        flex-direction: column;

        
        > div {
          width: $footer-content-width;
          @include flex-center;
          margin-top: 30px;
          display: flex;
          justify-content: space-around;


          a {
            img {
              width: $footer-icon-size;
              height: $footer-icon-size;
            }
          }
        }
      }
    }
  }
}